<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="mercury" class="com.froyo.model.dto.PlanetDTO">
        <constructor-arg index="0" type="com.froyo.common.codevalues.PlanetTypeEnum" value="MERCURY"/>
    </bean>

</beans>
